// Header/Navigation
//nav.navbar.navbar-default
//nav.navbar.navbar-expand-lg.navbar-light.bg-dark
//nav.navbar.navbar-expand-sm
nav.navbar.navbar-expand-lg.navbar-dark(
  style={'background-color': '#EBA487', 'color':'#FFDDDD'}
  )
  .container
    a.navbar-brand(href='#')
      // Use Font Awesome for a generic logo
      i.fas.fa-hand-holding-heart
      |&nbsp;Gram's 100th Birthday!
      //- |&nbsp;#{title}
    button.navbar-toggler(
      type='button'
      data-toggle='collapse'
      data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    )
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/')
            | Home
        li.nav-item
          a.nav-link(href='/posts') Gram-Tales
        if showLogin
          li.nav-item
            a.nav-link(href='/auth#register') Register
          li.nav-item
            a.nav-link(href='/auth#login') Login
        else
          li.nav-item
            a.nav-link(href='/posts/app/' + _id) My Posts
          li.nav-item
            a.nav-link(href='/posts/app') Post Admin
          li.nav-item
            a.nav-link(href='/auth/logout') Logout