extends ../layout

block content

  h1= title
  hr
  for post in posts

    div.post
      a(href='posts/view/' +   post.slug)
        h2
          span= post.title
        h3= post.description
        h3= post.caption
        h3= post.quote
    hr
    hr
