extends ../layout

block content

  h1= title
  hr
  for post in posts

    div.post
      a(href='posts/view/' +   post.slug)
        h2= post.title
        div!= post.description
        h3= post.caption
        h3= post.quote

